<div class="min-h-screen flex flex-col bg-white text-gray-800">
    <!-- Encabezado de la Página -->
    <header class="bg-gradient-to-r from-blue-600 to-blue-400 text-white py-10 text-center">
      <h1 class="text-4xl font-bold mb-2">Políticas de Privacidad y Términos de Servicio</h1>
      <p class="text-xl">Nos tomamos tu privacidad muy en serio y te brindamos un servicio confiable.</p>
    </header>
  
    <!-- Contenido Principal -->
    <main class="container mx-auto py-12 px-4 lg:px-12">
      <!-- Sección de Políticas de Privacidad -->
      <section class="mb-12">
        <h2 class="text-3xl font-bold text-blue-600 mb-6">Políticas de Privacidad</h2>
        <div class="text-justify text-gray-700 space-y-6">
          <p>En Septi-Salud, valoramos la confianza que depositas en nosotros. Nos comprometemos a proteger tu privacidad y a utilizar tus datos personales de forma responsable. Esta política describe cómo recopilamos, utilizamos, almacenamos y protegemos tu información personal.</p>

          <div *ngFor="let poli of politicas">
            <h3 class="text-2xl font-semibold text-gray-800">{{poli.title}}</h3>
            <p class="text-justify text-gray-700">{{poli.resume}}</p>
            <ul *ngIf="poli.items" class="list-disc list-inside text-gray-700">
                <li class="pl-4" *ngFor="let item of poli.items">{{item}}</li>
            </ul>
          </div>
        </div>
      </section>
  
      <!-- Sección de Términos de Servicio -->
      <section>
        <h2 class="text-3xl font-bold text-blue-600 mb-6">Términos de Servicio</h2>
        <div class="text-justify text-gray-700 space-y-6">

            <div *ngFor="let term of terminos">
                <h3 class="text-2xl font-semibold text-gray-800">{{term.title}}</h3>
                <p class="text-justify text-gray-700">{{term.resume}}</p>
                <ul *ngIf="term.items" class="list-disc list-inside text-gray-700">
                    <li class="pl-4" *ngFor="let item of term.items">{{item}}</li>
                </ul>
            </div>
        </div>
      </section>
    </main>

    <shared-footer></shared-footer>
  
  </div>
  