<div class="flex items-center justify-center min-h-screen bg-gray-100">
    <div class="bg-white p-8 rounded-lg shadow-md w-full max-w-md">
      <div class="flex justify-center mb-6">
        <img src="assets/img/cat.svg" alt="Logo" class="h-20" />
      </div>
      <h2 class="text-2xl font-semibold text-center mb-6">Iniciar sesión</h2>
      <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
        <div class="mb-4">
          <label class="block text-gray-700">Tipo de identificación</label>
          <select class="w-full p-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
            <option value="">Selecciona</option>
            <option value="cc">Cédula de ciudadanía</option>
            <option value="ti">Tarjeta de identidad</option>
          </select>
        </div>
        <div class="mb-4">
          <label for="id" class="block text-gray-700">Número de identificación</label>
          <input type="number" formControlName="id" class="w-full p-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" />
          <small *ngIf="id.invalid && (id.dirty || id.touched)" class="block">
            <div *ngIf="id.errors?.['required']" class="text-red-500 mt-0">Cedula es requerida</div>
          </small>
        </div>
        <div class="mb-6">
          <label for="password" class="block text-gray-700">Contraseña</label>
          <input type="password" formControlName="password" class="w-full p-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" />
          <small *ngIf="password.invalid && (password.dirty || password.touched)" class="block">
            <div *ngIf="password.errors?.['required']" class="text-red-500 mt-0">Contraseña es requerida</div>
          </small>
        </div>
        <div class="text-right mb-4">
          <a href="#" class="text-blue-500">¿Has olvidado tu contraseña?</a>
        </div>
        <button type="submit" [disabled]="loginForm.invalid" class="w-full bg-blue-600 p-2 rounded-md hover:bg-blue-700 transition duration-200">
          <div [ngClass]="{'text-gray-400': loginForm.invalid, 'text-white': loginForm.valid}">
            Iniciar sesión
          </div>
        </button>
      </form>
      <div class="text-center mt-4">
        <p>¿Aún no tienes una cuenta? <a routerLink="/register" class="text-blue-500">Crear una cuenta</a></p>
      </div>
    </div>
  </div>
  