<header class="main-header">
    <div class="content-wrapper">
      <a href="/">
        <img src="" alt="">
      </a>
      <span id="open-menu-button" class="jam jam-menu"></span>
      <nav id="main-menu" class="main-menu">
        <span id="close-menu-button" class="jam jam-close"></span>
        <ul>
          <li>
            <a href="/">Inicio</a>
          </li>
          <li>
            <a href="/quienes-somos.html">¿Quiénes somos?</a>
          </li>
          <li>
            <a href="/proyectos.html">Proyectos</a>
          </li>
          <li>
            <a href="/contacto.html">Contacto</a>
          </li>
        </ul>
      </nav>
    </div>
</header>

<router-outlet></router-outlet>