<section class="bg-blue-600 text-white py-8">
    <div class=" mx-auto text-center">
      <h2 class="text-2xl font-bold">Consulta Historia Clinica</h2>
      <div class="flex justify-center space-x-8 mt-4">
        <p class="text-lg">Recuerda tener a la mano tus credenciales</p>
      </div>
    </div>
</section>

<div class="min-h-[70vh] flex flex-col items-center justify-center bg-white">

    <!-- Contenedor principal del formulario -->
    <div class="bg-blue-500 p-6 rounded-lg shadow-lg w-96">
        <img src="assets/img/cat.svg" alt="Logo" class="w-32 h-32 mx-auto"/>
        <h2 class="text-white text-center text-xl font-bold mb-6">Formulario de Consulta</h2>

        <!-- Campo de entrada para cédula -->
        <div class="mb-4">
            <input type="text" placeholder="Cédula" 
                   class="w-full p-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-500"/>
        </div>

        <!-- Campo de entrada para contraseña -->
        <div class="mb-6">
            <input type="password" placeholder="Contraseña" 
                   class="w-full p-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-500"/>
        </div>

        <!-- Botón de consulta -->
        <div class="flex justify-center">
            <button class="bg-green-500 text-white px-4 py-2 rounded hover:bg-green-600 transition duration-300">Consultar</button>
        </div>
    </div>
</div>
