@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family : 'FS-Joey';
    src         : url('./assets/fonts/FS-Joey-Medium-Regular.ttf');
}

* 
{
  font-family: 'FS-Joey', sans-serif;
  font-weight: bold;
}