  <!-- Footer -->
<footer class="bg-gray-800 text-white py-8 mt-auto">
    <div class="container mx-auto flex flex-col md:flex-row justify-between items-center">
      <div class="mb-4 md:mb-0">
        <p class="text-lg">&copy; 2024 Septi Salud. Todos los derechos reservados.</p>
        <p class="text-sm">Teléfono: +123 456 7890 | Email: contacto&commat;septisalud.com</p>
      </div>
      <div class="flex space-x-4">
        <a href="#" class="hover:text-blue-500">Política de Privacidad</a>
        <a href="#" class="hover:text-blue-500">Términos de Servicio</a>
      </div>
    </div>
</footer>